@import '/src/css/globales.scss';

.pokemonsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 600px;
    margin: auto;

    &__intial {
        color: $white;
        text-shadow: 2px 2px $headerBackgroundColor;
    }
}