@import '/src/css/globales.scss';

.pokemonDetails {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 90%;
    min-height: 500px;
    margin: 20px auto;
    border-radius: 12px;
    background-color: $white;
    box-shadow: 1px 2px 3px 0px rgba(155, 155, 155, 0.882);


    &__pokemon {
        position: relative;
        width: 100%;
        height: 320px;
        padding: 20px;
        border-radius: 12px;
        background-color: #fbe3df;

        &__name {
            font-size: 3.8rem;
            color: #fff;
            // text-shadow: 2px 2px #6890ef;
        }

        &__type {
            display: inline-block;
            margin-top: 10px;
            padding: 4px;
            font-size: 1.6rem;
            color: #fff;
            border-radius: 4px;
            background-color: red
        }

        &__img {
            display: block;
            position: absolute;
            bottom: 0px;
            left: calc(50% - 125px);
            transform: rotatey(180deg);
            min-width: 250px;
            min-height: 250px;
            object-fit: cover;
        }
    }

    &__details {
        width: 100%;
        height: 50%;
        padding: 20px;
        padding-left: 30px;
        border-radius: 12px;
        // border: 1px solid blue;

        &__bio {
            &__info {
                font-size: 1.4rem;
            }
        }

        &__sa {
            margin-top: 10px;

            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            ul {
                list-style: none;
                font-size: 1.4rem;
            }
        }

        &__evo {
            margin-top: 10px;

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;

                li {
                    text-align: center;
                    margin: 8px auto;

                    .backImg {
                        margin-bottom: 4px;
                        cursor: pointer;
                        border-radius: 50%;
                        box-shadow: 1px 2px 3px 0px rgba(155, 155, 155, 0.882);
                        transform: translateY(-0.1em);
                        transition: transform 0.1s ease;
                    }

                    .backImg:hover {
                        transform: translateY(-0.3em);
                    }

                    .backImg:active {
                        transform: translateY(0);
                    }
                }
            }
        }
    }
}

@include media-up(lg) {
    .pokemonDetails {
        flex-direction: row;
        align-items: inherit;
        margin: 40px auto;
        width: 70%;
        height: 500px;

        &__pokemon {
            position: relative;
            width: 30%;
            height: 100%;
            border-radius: 12px 0px 0px 12px;
            background-color: #fbe3df;

            &__img {
                position: absolute;
                bottom: 50px;
                left: calc(50% - 175px);
                width: 350px;
                height: 350px;
            }
        }

        &__details {
            width: 70%;
            height: 100%;

            &__bio {
                &__info {
                    font-size: 1.8rem;
                }
            }

            &__sa {
                margin-top: 25px;

                display: flex;
                flex-wrap: wrap;
                justify-content: start;

                &__abilities {
                    margin-left: 100px;
                }
            }

            &__evo {
                margin-top: 30px;

                ul {
                    display: flex;
                    flex-direction: row;
                    align-items: initial;
                    flex-wrap: wrap;
                    // justify-content: space-evenly;

                    li {
                        margin: 0;
                        margin-top: 10px;
                        margin-right: 60px;

                        .backImg {
                            border-radius: 50%;
                            background-color: #fbe3df;
                        }
                    }
                }
            }
        }
    }

}